@import "animations";

$bg: #96f292;

body {
  font: 14px"Lucida Grande", Helvetica, Arial, sans-serif;
  background: $bg !important;
  color: #050;
}
a {
  color: #00B7FF;
}
ol {
  list-style: decimal-leading-zero;
}

.example-enter {
  @extend .pt-page-moveFromRight;
  position: absolute !important;
}

.example-enter.example-enter-active {
//  opacity: 1;
}

.example-leave {
  @extend .pt-page-moveToLeft;
  position: absolute !important;
  top: 0;
}

.example-leave.example-leave-active {
//  opacity: 0.00;
}