@import "animations";

$pageBg: #f8f8e8;
$pageAnimateTime: .3s;

$menuOpacity: .96;
$menuBg: rgba(#fff, $menuOpacity);
$menuFg: #131;
$menuLinkBg: #b0becc;
$menuBorder: rgba(#aaa, .5);
$menuActiveLinkBg: #e3eeee;
$menuHoverLinkBg: #efffdf;
$menuTransitionTime: .3s;
$transparentColor: rgba(#000, 0);

$navbarOpacity: $menuOpacity;
$navbarTransitionTime: .5s;

$sidebarWidth: 200px;
$sidebarTransitionTime: .2s;

body.app-body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #333;
  color: #121;
  width: 100%;
  // perspective needed for rotate animation to work
  perspective: 1200px;
}

ol {
  list-style: decimal-leading-zero;
}

span.topbar-btn {
  padding: 6px;
  right: 0px;
  top: 0px;
  font-size: 3em;
  color: rgba($menuFg, 0.3)
}

span.topbar-btn,
.sidebar,
.navbar.topbar {
  position: fixed;
  transform: translateZ(0);
  // workaround for fixed/perspective bug hiding navbar when scrolled
  z-index: 100;
}

.navbar.topbar {
  border-radius: 0;
  margin-bottom: 0;
  width: 100%;
  background: $menuBg;
}

span.topbar-btn-visible {
  transition: visibility $navbarTransitionTime linear, opacity $navbarTransitionTime linear;
}

span.topbar-btn-visible,
.topbar-visible {
  visibility: visible;
  opacity: $navbarOpacity;
  transition-delay: 0s;
}

span.topbar-btn-invisible,
.topbar.topbar-invisible {
  visibility: hidden;
  opacity: 0;
  transition: visibility $navbarTransitionTime linear, opacity $navbarTransitionTime linear;
}

.navbar.topbar .navbar-nav > li > a {
  color: $menuFg;
}

.navbar.topbar .navbar-nav > li:hover > a.active,
.navbar.topbar .navbar-nav > li > a.active {
  opacity: 0.8;
  background-color: $menuActiveLinkBg;
}

.navbar.topbar .navbar-nav > li:hover > a {
  background-color: $menuHoverLinkBg;
}

.page-transition-enter {
  animation: moveFromRight $pageAnimateTime ease-in both;
}

.page-transition-enter.page-transition-enter-active {
}

.page-transition-leave {
  transform-origin: 0% 50%;
  animation: rotateRightSideFirst $pageAnimateTime both ease-in;
}

.page-transition-leave.page-transition-leave-active {
}

.app-page-frame {
  position: absolute;
  background: $pageBg;
  width: 100%;
  // hack: TBD remove padding
  // page should scroll in the entire area excluding navbar
  padding-top: 60px;
  //  prevent page background from showing
  min-height: 100%;
}

.sidebar {
  color: $menuFg;
  background: $menuBg;
  width: 100%;
  max-width: $sidebarWidth;
  height: 120%;
  z-index: 1000;
  transition: left $sidebarTransitionTime ease-in-out;
  position: fixed;
}

.sidebar > ul {
  padding: 0;
  list-style: none;
  position: relative;
  top: 30%;
  transform: translateY(-50%);
}

.sidebar > ul > li {
  margin: 10px;
}

.sidebar > ul > li > a {
  padding: 15px 20px;
  border: 1px solid $menuBorder;
  border-radius: 8px;
  text-decoration: none;
  color: $menuFg;
  transition: background $menuTransitionTime ease-in;
  display: block;
}

.sidebar > ul > li:hover > a.active,
.sidebar > ul > li > a.active {
  opacity: 0.8;
  background-color: $menuActiveLinkBg;
  border-color: $transparentColor;
}

.sidebar > ul > li:hover a {
  background: $menuHoverLinkBg;
  border-color: $transparentColor;
}

.sidebar-invisible {
  left: -$sidebarWidth;
}

.sidebar-visible {
  left: 0;
}

.form-msg-box {
  margin-top: 1em;
}