body {
    padding: 40px;
    font: 14px"Lucida Grande", Helvetica, Arial, sans-serif;
    background: #96f292;
    color: #050;
}
a {
    color: #00B7FF;
}
ol {
    list-style: decimal-leading-zero;
}